<ng4-loading-spinner [threshold]="isLoading" [timeout]="99999" [loadingText]="'Please wait...'" [zIndex]="9999">
</ng4-loading-spinner>
<div class="posts-component">
  <section class="post-card">
    <mat-card class="post-create-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="post-card-title">Ohad Sahar</mat-card-title>
        <mat-card-subtitle class="post-card-sub-title">Will you post something today?</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <form class="posts-add-form">
          <mat-form-field class="full-width">
            <input matInput name="postitle" value="" [(ngModel)]="post.postitle">
            <mat-placeholder class="place-holder">Enter post title</mat-placeholder>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput name="postext" value="" [(ngModel)]="post.postext">
            <mat-placeholder class="place-holder">Enter post text</mat-placeholder>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="createNewPost()">Create post</button>
        </form>
      </mat-card-content>
    </mat-card>
  </section>
  <mat-divider></mat-divider>
  <section class="post-list">
    <h1>Post List</h1>
    <div *ngFor="let post of posts;let i = index">
      <mat-card class="comment-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{post?.postitle}}</mat-card-title>
          <mat-card-subtitle>{{post?.username}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{post?.postext}}
          <form class="posts-add-form" #commentForm="ngForm" (submit)="createNewComment(commentForm,i , post?.id)">
            <mat-form-field class="full-width">
              <input matInput name="commentdata" value="" name="commentdata" ngModel #commentdata="ngModel" required>
              <mat-placeholder class="place-holder">Enter comment</mat-placeholder>
            </mat-form-field>
            <mat-action-row>
              <button mat-raised-button type="submit" style="margin-right: 3%">Create comment</button>
              <button type="button" mat-raised-button *ngIf="!showOrHideComments[i]"
                (click)="getCommentsByPostId(post?.id, i);showOrHideComments[i] = !showOrHideComments[i]">show
                Comments</button>
              <button type="button" mat-raised-button *ngIf="showOrHideComments[i]"
                (click)="showOrHideComments[i] = !showOrHideComments[i];resetComments()">hide Comments</button>
                <p>{{post?.likes}} <i class="far fa-thumbs-up" (click)="likePost(post, i, true)"></i> </p>
                <i class="far fa-thumbs-down" (click)="likePost(post, i, false)"></i>
            </mat-action-row>
          </form>
          <section class="comment-list" *ngIf="showOrHideComments[i]">
            <h1>Comments</h1>
            <mat-accordion multi="false">
              <mat-expansion-panel
                (expandedChange)="changePanel(post?.id);showOrHideComments[i] = showOrHideComments[i]"
                *ngFor="let comment of comments[i];let j = index">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{comment?.username}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{comment?.commentdata}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <mat-form-field>
                    <input matInput type="text" name="subcommentdata" [(ngModel)]="subcomment.subcommentdata">
                    <mat-placeholder class="place-holder">Write something...</mat-placeholder>
                  </mat-form-field>
                  <mat-action-row>
                    <button type="button" mat-raised-button (click)="createNewSubComment(comment.id)"
                      style="margin-right: 3%">comment</button>
                    <button type="button" mat-raised-button *ngIf="!showOrHideSubComments[j]"
                      (click)="showSubComments(comment.id);showOrHideSubComments[j] = ! showOrHideSubComments[j]">
                      show sub comments</button>
                    <button type="button" mat-raised-button *ngIf="showOrHideSubComments[j]"
                      (click)="showOrHideSubComments[j] = ! showOrHideSubComments[j];resetSubComments()">
                      hide sub comments</button>
                  </mat-action-row>
                  <div class="subcomments-list" *ngIf="subcomments.length > 0 && showOrHideSubComments[j]">
                    <h1>Sub comments</h1>
                    <mat-accordion multi="false">
                      <mat-expansion-panel *ngFor="let subcomment of subcomments;let k = index">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{subcomment?.username}}
                          </mat-panel-title>
                          <mat-panel-description>
                            {{subcomment?.subcommentdata}}
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                          <mat-form-field>
                            <input matInput type="text" name="subcommentdata" [(ngModel)]="subcomment.subcommentdata">
                            <mat-placeholder class="place-holder">Write something...</mat-placeholder>
                          </mat-form-field>
                          <section class="sub-comment-buttons">
                            <mat-action-row>
                              <button type="button" mat-raised-button (click)="createNewSubComment(comment.id)"
                                style="margin-right: 3%">comment</button>
                              <button type="button" mat-raised-button *ngIf="!showOrHideSubComments[j]"
                                (click)="showSubComments(comment.id);showOrHideSubComments[j] = ! showOrHideSubComments[j]">
                                show sub comments</button>
                              <button type="button" mat-raised-button *ngIf="showOrHideSubComments[j]"
                                (click)="showOrHideSubComments[j] = ! showOrHideSubComments[j];resetSubComments()">
                                hide sub comments</button>
                            </mat-action-row>
                          </section>
                        </ng-template>
                      </mat-expansion-panel>
                    </mat-accordion>
                    <section *ngIf="subcomments.length >= limitSubComment" (click)="updateSkipLimitSubComments()"
                      class="show-more ">show more
                    </section>
                  </div>
                  <section class="no-data-sub-comment" *ngIf="subcomments.length <= 0 && showOrHideSubComments[j]">
                    No subcomments for this comment
                  </section>
                </ng-template>
              </mat-expansion-panel>
              <section *ngIf="comments[i]?.length >=limit" (click)="updateSkipLimit()" class="show-more">Show more
              </section>
            </mat-accordion>
            <!-- <section class="no-data-sub-comment" *ngIf="comments[i]?.length <= 0">No comments for this post</section> -->
          </section>
        </mat-card-content>
      </mat-card>
      <mat-divider style="margin-top: 3%"></mat-divider>
    </div>
  </section>
</div>
